<head>
    <meta charset="UTF-8">

    <!-- LINKS GOOGLE FONTS -->
    <link
        href="https://fonts.googleapis.com/css2?family=Chewy&family=Delicious+Handrawn&family=Londrina+Solid:wght@300&family=Loved+by+the+King&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Handlee&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap"
        rel="stylesheet">
</head>

<h2 [ngStyle]="{
    'font-size' : '75px',
    'color' : '#6d9b23',
    'text-align' : 'center',
    'font-family' : 'Chewy'
}">
Acerca De StayMate
</h2>

<div class="contenedor">
    <div class="caja1">
        <img src="../../../assets/imagenes/StayMate.png" alt="">
    </div>
    <div class="caja2">
        hola2
    </div>
</div>